body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App .imgContainer {
  background-color: teal;
  width: 960px;
  margin-left: 30px;
}

.imgContainer button {
  height: 50px;
  width: 300px;
  margin-left: 660px;
  margin-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;
  white-space: nowrap;
}

.App img {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

div.catAttributes {
  margin-left: 15px;
  margin-right: 15px;
}

div.navigator {
  display: flex;
  width: 960px;
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
}

.navigator button {
  flex-grow: 1;
  height: 50px;
}

button.navButtonPrev {
  margin-right: 150px;
}

button.navButtonNext {
  margin-left: 150px;
}